/* CSS for CreatePatientForm */

/* Body styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; /* Use appropriate font */
  background-image: url('https://img.freepik.com/premium-photo/high-angle-view-colored-pencils-table_1048944-1779546.jpg?w=1060');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden; /* Hide horizontal overflow to prevent scrolling */
}

/* Add parallax effect to the background image */
body::after {
  content: "";
  background-image: inherit;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Adjust the scale to control the intensity of the parallax effect */
  transform: scale(1.1);
}

/* Form container */
.create-patient-form-container {
  background-color: #f6efef; /* White background */
  padding: 0px;
  border-radius: 10px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px; /* Limit form width */
}

/* Form box */
.form-box {
  background-color: #f4ebf1; /* White background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Additional styling */
.success-dialogue {
  background: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
}

input {
  width: calc(100% - 24px); /* Adjust input width */
  padding: 10px; /* Reduce padding */
  border: 1px solid #282727;
  border-radius: 5px;
  font-size: 14px; /* Reduce font size */
  display: block;
  margin: 0 auto; /* Center the input horizontally */
}

/* Porfsnail-inspired button styles */
button {
  width: 100%;
  padding: 10px;
  background-color: #ffffff; /* White background */
  color: #007bff; /* Blue text color */
  border: 1px solid #4f7fb3; /* Blue border */
  border-radius: 130px; /* Large border-radius for rounded edges */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.1s, color 0.1s; /* Smooth transition on hover */
}

button:hover {
  background-color: #007bff; /* Blue background on hover */
  color: #ffffff; /* White text color on hover */
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .create-patient-form-container {
    width: 90%;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }
}
