.patient-detail-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .patient-card {
    border: 1px solid #f0eef0;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  .patient-info {
    margin-bottom: 10px;
  }
  
  .patient-info p {
    margin: 5px 0;
  }
  
  a {
    display: block;
    margin-top: 20px;
  }
  