/* Background image container */
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place it behind other content */
  overflow: hidden; /* Hide overflow content */
}

/* Background image */
.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Cover the entire container */
  filter: blur(10px); /* Apply blur effect */
}

/* Container for patient list */
.patient-list-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styling for patient cards container */
.patient-cards-container {
  max-width: 1230px;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  margin-top: 20px; /* Add margin at the top to create space between search input and patient cards */
  position: relative; /* Ensure proper positioning */
  z-index: 1; /* Ensure it's above the background image */
}

/* Flexbox layout for patient cards */
.patient-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between patient cards */
  justify-content: center; /* Center-align the cards */
}

/* Styling for each patient card */
.patient-card {
  flex: 0 0 300px; /* Set a fixed width for each card */
  height: 100px; /* Set a fixed height for each card */
  margin: 10px; /* Add margin for spacing between cards */
  border-radius: 100px;
  padding: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  text-align: center; /* Center-align content */
}

/* Hover effect for patient cards */
.patient-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

/* Styling for text within patient cards */
.patient-card p {
  margin: 10px 0; /* Adjust spacing */
  font-size: 16px;
  color: #333;
}

/* Styling for patient name */
.patient-card p:first-child {
  font-weight: bold;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply fade-in animation to patient cards */
.patient-card {
  animation: fadeIn 0.1s ease-out;
}

/* Search input */
.search-input {
  width: 100%;
  padding: 20px;
  font-size: 16px;
  border: 1px solid #dab0b0;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(220, 211, 211, 0.1);
}

.search-input:focus {
  outline: none;
  border-color: #007bff;
}

/* Differentiate patient detail boxes */
.patient-card:nth-child(odd) {
  background-color: #e9f7f1; /* Light green background for odd-numbered cards */
}

.patient-card:nth-child(even) {
  background-color: #f4ebf1; /* Light purple background for even-numbered cards */
}
